* {
    margin: 0;
    padding: 0;
}

body {
    text-align:center;
    width:400px;
    height:600px;
    background-color: #ededed;
}
.page-header {
    width: 400px;
    height: 50px;
    background-color:darkslateblue;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family:'Montserrat';
    color:goldenrod;
}

.page-main {
    width: 400px;
    height: 550px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width:75%;
    height: 50px;
    color:darkslateblue;
    background:goldenrod;
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 18px;
    cursor:pointer;
}

button#back {
    position: absolute;
    bottom: -300px;
}

h1#info-header {
    font-family: 'Montserrat';
    font-size: 24px;
    position: absolute;
    top: 65px;
}

h1#score {
    font-family: 'Montserrat';
    font-size: 24px;
    position: absolute;
    top: 95px;
}

ul#features {
    padding-top: 5px;
    text-align:center;
    width:400px;
    height:300px;
}

h2#result_message {
    font-family: 'Montserrat';
    font-size: 18px;
    position: absolute;
    top: 130px;
    width:90%;
}

li.feature {
    font-family: 'Montserrat';
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 1em;
    justify-content: center;
}
