* {
    margin: 0;
    padding: 0;
}

body {
    text-align:center;
    width:400px;
    height:600px;
    display: flex;
    flex-direction: column;
}
.page-header {
    width: 400px;
    height: 50px;
    background-color:darkslateblue;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family:'Montserrat';
    color:goldenrod;
}

.page-main {
    width: 400px;
    height: 550px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

.main-picture {
    position: absolute;
    top: 50px;
}

button {
    width:75%;
    height: 50px;
    color:darkslateblue;
    background:goldenrod;
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 18px;
    cursor:pointer;
}

button#about {
    position: absolute;
    bottom: 90px;
}

button#checking {
    position: absolute;
    bottom: 20px;
}